.basic_button {
   width: 10rem;

   font-family: Verdana;
   font-style: normal;
   font-weight: bold;
   font-size: 1rem;
   line-height: 2rem;
   text-align: center;
   letter-spacing: 0.04em;

   color: #ffffff;
   background: #fc842d;
   border: none;
   cursor: pointer;
}

.basic_button:active,
.basic_button:focus {
   outline: none;
   background: #ffffff;
   color: #fc842d;
   box-sizing: border-box;
   box-shadow: none;
}
